*{
	margin: 0;
	padding: 0;
}

.tm-container{
	max-width: 1000px;
	margin: 0 auto;
}

.tm-header{
	background: white;
}

.tm-header::after{
	content: " ";
	clear: both;
	display: block;
	visibility: none;
}


.tm-img{
	padding: 10px;
	float: left;
}

.tm-nav{
	float: right;
}

.tm-nav ul li{
	display: inline-block;
}

.tm-nav ul{
	margin-bottom: 0px;
}

.tm-nav ul li a{
	padding: 10px 20px;
	text-decoration: none;
	color: #303030;
	line-height: 75px;
}

.tm-nav ul li a:hover{
	color: blue;
}

.tm-nav ul li a:active{
	color: green;
}

.tm-img2{
	padding-top: 230px;
	padding-left: 150px;
}

.tm-div{
	border:1px solid white;
}

p{
	color: #fff;
	text-align: center;
}

.float{
	float: left;
	margin-bottom: 20px;
	margin-right: 20px;
	padding-top: 200px;
	padding-left: 150px;
}

.tm-span{
	float: right;
}

.tm-span{
	padding-right: 400px;
	padding-top: 250px;
}

p{
	text-align: center;
	color: #fff;
}

p:hover{
	color: #FFD700;
}

.tm-para{
	border:1px solid white;
	padding:40px;
}

.tm-footer{
	text-align: center;
	color: #fff;
	padding-top: 200px;
	padding-bottom: 20px;
}

.tm-div2{
	margin-top: 30px;
	max-width: 1000px;
	margin-left: 200px;

}

.tm-div2 ul li{
	color: #fff;
	font-size: 150%;
}


.tm-img3{
	padding-left: 600px;
	padding-top: 60px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.zoom {
  padding: 0px;
  transition: transform .2s;
  width: 75px;
  height: 75px;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.5); 
  -webkit-transform: scale(1.5); 
  transform: scale(1.5); 
}

.tm-div3{
	text-align: center;
	padding-top: 50px;
}